<h3>Ruby on Rails 3</h3>
<p>
динамический, рефлективный, интерпретируемый высокоуровневый язык программирования для быстрого и удобного
объектно-ориентированного программирования. Язык обладает независимой от операционной системы реализацией 
многопоточности, строгой динамической типизацией, сборщиком мусора и многими другими возможностями. 
Ruby близок по особенностям синтаксиса к языкам Perl и Eiffel, по объектно-ориентированному подходу — к Smalltalk.
Также некоторые черты языка взяты из Python, Lisp, Dylan и CLU
</p>